@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap");

:root {
    --primary-color: #ff790b;
    --secondary-color: #ff5e14;
    --text-dark: #0f172a;
    --text-light: #94a3b8;
    --white: #ffffff;
    --max-width: 1400px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
    background: linear-gradient(to right,
            rgb(255, 132, 60),
            rgba(255, 255, 255, 0)),
        url("back1.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.container {
    max-width: var(--max-width);
    min-height: 100vh;
    margin: auto;
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.nav__logo img {
    max-width: 70px;
}

.nav__links {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 2rem;
}

.link a {
    text-decoration: none;
    font-weight: 600;
    color: var(--white);
}

.link a:hover{
    text-shadow: 5px 5px 10px white;
    transition: 0.5s;
}

.search {
    width: 100%;
    max-width: 300px;
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    background-color: white;
    border-radius: 2rem;
    transition: 0.3s;
    
}
.im{
    border-radius: 50%;
}
.search input {
    width: 100%;
    font-size: 1rem;
    color: var(--primary-color);
    outline: none;
    border: none;
}

.search input::placeholder {
    color: var(--secondary-color);
}

.search span {
    font-size: 1.5rem;
    color: var(--primary-color);
}

.login {
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    background-color: var(--primary-color);
    border-radius: 2rem;
    cursor: pointer;
    transition: 0.3s;
    font-weight: 600;
    color: var(--white);
}

.pfp img{
    height: 64px;
    width: 64px;
    display: flex;
    border: 2px solid rgb(255, 115, 0);
    border-radius: 100px;
}

a:hover{
    text-decoration: none;
}

a:active{
    text-decoration: none;
}

a:link{
    text-decoration: none;
}

a:visited{
    text-decoration: none;
}

.login:hover {
    background-color: var(--secondary-color);
}

.login span {
    padding: 5px 8px;
    font-size: 1.5rem;
    color: var(--primary-color);
    background-color: var(--white);
    border-radius: 100%;
}

.destination__container {
    position: relative;
    padding: 5rem 0 5rem 5rem;
    flex: 1;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 2rem;
    align-items: center;
}

.bg__img__1 {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-100%);
    opacity: 0.6;
    z-index: -1;
}

.bg__img__2 {
    position: absolute;
    bottom: 2rem;
    right: 50%;
    transform: translateX(100%);
    opacity: 0.8;
    z-index: -1;
}

.socials {
    position: absolute;
    top: 25rem;
    left: 0;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.socials::after {
    position: absolute;
    content: "";
    top: -22rem;
    left: 15px;
    height: 15rem;
    width: 2px;
    background-color: var(--white);
}

.socials span {
    font-size: 2rem;
    color: var(--white);
}

.content h1 {
    margin-bottom: 1rem;
    font-size: 4.5rem;
    font-weight: 800;
    color: var(--white);
}

.content h1 span {
    -webkit-text-stroke: 2px var(--white);
    -webkit-text-fill-color: transparent;
}

.content p {
    max-width: 350px;
    margin-bottom: 2rem;
    line-height: 1.5rem;
    color: var(--white);
}

.content .btn {
    padding: 0.75rem 2rem;
    outline: none;
    border: none;
    font-size: 1rem;
    font-weight: 600;
    color: var(--white);
    background-color: var(--secondary-color);
    cursor: pointer;
}

.destination__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.destination__card {
    height: 100%;
    background-color: var(--white);
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.7);
}

.destination__card img {
    width: 100%;
}

.card__content {
    padding: 1rem;
}

.card__content h4 {
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--text-dark);
}

.card__content p {
    margin-bottom: 1rem;
    font-size: 0.9rem;
    line-height: 1.5rem;
    color: var(--text-light);
}

.card__content .btn {
    padding: 0.5rem 1rem;
    outline: none;
    border: none;
    font-weight: 500;
    color: var(--white);
    background-color: var(--primary-color);
    cursor: pointer;
}

.footer{
	background-color: rgba(255, 255, 255, 0.664);
    backdrop-filter: blur(5px);
    padding: 70px 0;
}
.row{
    display: flex;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #000000;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #000000;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #000000;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(0, 0, 0, 0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #000000;
	background-color: #ffffff;
}

li{
    list-style: none;
}

@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}


@media (width < 1200px) {
    .search {
        max-width: 235px;
    }

    .destination__container {
        grid-template-columns: 1fr;
    }
}

@media (width < 900px) {
    .nav__links {
        display: none;
    }

    .content h1 {
        font-size: 4rem;
    }

    .destination__grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (width < 600px) {
    .search {
        display: none;
    }

    .destination__container {
        padding-left: 3rem;
    }

    .content h1 {
        font-size: 3rem;
    }

    .destination__grid {
        grid-template-columns: repeat(1, 1fr);
    }
}