body {
    font-family:"Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    background: linear-gradient(to right,
            rgb(255, 132, 60),
            rgba(255, 255, 255, 0)),
        url("back1.jpg");
}
.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
h1 {
    text-align: center;
    color: #333;
}
.recipe {
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
.recipe h2 {
    margin: 0;
    color: #555;
    font-size: 24px;
    margin-bottom: 10px;
}
.recipe p {
    margin: 10px 0;
    color: #777;
    font-size: 16px;
}
.recipe p strong {
    color: #333;
}